
/*CSS style sheet for Recycool website*/
/* NAVIGATION BAR */

.navBar{
  background: #7dba84; 
  position: relative;
  left: 0;
  top: 0;
  height: 75px;
  width: 100%;
  overflow: hidden;
}

.navlink{
  /* text decoration for navigation links */
  font-family: "comfortaa", cursive;
  color: #E8EBEB;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  padding-right: 10px;
}

nav{
  margin-top: 20px;
  color: #636466;
  list-style: none;
}

nav ul{
  list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Recycool logo text, consitant across every page */
.logo{
  font-family: 'Bungee', cursive;
  /* color: #636466; */
  padding-left: 10px;
  margin-top: 15px;
  font-size: 30px;
  
}

/* ------------------------ */

/* LINK STYLES */
/* unvisited link */
a:link {
  text-decoration: none;
  color: #E8EBEB;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: #E8EBEB;
}

/* mouse over link */
a:hover {
  /* make it clear its a link */
  text-decoration: underline;
  color:#636466;
  text-underline-position: below;
}

/* selected link */
a:active {
  text-decoration: none;
  color:#636466;
}

/* ------------------------ */


/* HEADER */
header{
  background: #7dba84; 
}

/* ------------------------ */

/* BODY CONTENT */
/* container for first page, buttons and content */
.btnContainer{
  width: 100%;
  background-color: #E8EBEB;
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 100px;
  border-radius: 25px;
  text-align: center;
  transition: 0.3s;
}

/* form Container */
.formContainer{
  width: 100%;
  background-color: #E8EBEB;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  text-align: center;
  content: center;

}

/* recycling Symbol image */
.recycleImg{
  padding-top:20px;
}

/* button styling */
.btn{
  background-color: #8fd694;
  text-transform: capitalize;
  font-family: 'Comfortaa', cursive;
  border: none;
  animation-iteration-count: 1;
}

body{
  background-color: #8fd694
}

.bearContainer{
  width: 17%;
  position: fixed;
  bottom: 5px;
  left: 10px;
  transition: 0.3s;
  z-index: 30;
  
}

.penguin{
  float: right;
  position: fixed;
  bottom: 10px;
  right: 75px;
}

.penguin1{
  float: right;
  position: relative;
  right: 200px;  
  z-index: 50;
}

/* content images for learn page */
.infographic{
  text-align: center;
  padding-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.sticky {
  /*position sticks it to the bottom of the screen*/
  position: fixed;
  bottom: 10px;
  left: 10px;
  transition: 0.3s;
  z-index: 30;
}

.plasticContainer{
  width: 100%;
  background-color: #d7f9f1;
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 100px;
  border-radius: 25px;
  text-align: center;
  transition: 0.3s;
}

/* ------------------------ */



/* TEXT DECORATION */
/* main header font and styles */
h1{
  font-family: 'Bungee', cursive;
  color: #636466;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
}

/* alternative font, for other headers and body text */
h2{
  font-family: "comfortaa", cursive;
  color: #636466;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
}


/* paragraph styling */
p{
  font-family: "comfortaa", cursive;
  vertical-align: middle;
}
  

#containerText{
  color: #636466;
}

#text{
  
  font-size: 15px;
  text-align: center;
}

#btnText{
  font-size: 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}





/* FOOTER */
/*footer set to grey and off white text*/
footer{
  background-color: #636466;
  color: #fbf7f5;
}


/*TABS*/
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #8fd694;
  text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: #636466;
  outline: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #E8EBEB;
}

/* Create an active/current tablink class */
.tab button.active {

  background-color:#7dba84;
  
}

/* Style the tab content */
.tabcontent {
  display: none; 
  padding: 6px 12px;
  border-top: none;
}

/* centeralise button text */
.tablinks{
  padding-top: 5px;
}


.speechContainer{
  position: relative ;
  text-align: center;
}

.speechbubble{
  padding-top: 75px;
  padding-bottom: 20px;
  text-align: center;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1; */
}

.speech{
  position: absolute;
  /* padding-top: 75px;
  padding-bottom: 20px;
  text-align: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* MEDIA QUERIES */
/* Media queries determine the side and styles of font and padding
depending on the size of the screen- reponsive design*/

/* Larger than small mobile */
@media (min-width: 300px) {
  h1{
    font-size: 20px;
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
  h1{
    font-size: 25px;
  }

  p{
    font-size: 15px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1{
  font-size: 35px;
  }

  nav li {
    display: inline-block;
  }

  p{
    font-size: 15px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  h1{
    font-size: 35px;
  }

  nav li {
    display: inline-block;
  }

  p{
    font-size: 15px;
  }
  
}

/* Larger than desktop */
@media (min-width: 1000px) {
  h1{
    font-size: 35px;
  }

  nav li {
    display: inline-block;
  }

.navlink{
  font-size: 15px;
  /* margin-top: 20; */
  padding-right: 10px;
  }

  p{
    font-size: 15px;
  }
}
